  
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="content-section  align-item-center ml-5">
            <div class="media ml-5 p-4">
              {% if user.profile.images %}
              <img class="rounded-circle account-img mr-3 my-1" src="{{ user.profile.images.url }}" width="120" height='120'>
              {% endif %}
              <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
              </div>
            </div>
          <div>
          <div>
            <h3>User Profile Information Details</h3><hr>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Username</th>
                <td>{{user.username}}</td>
           
              </tr>
              <tr>
                <th>First name</th>
                <td>{{user.first_name}}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="btn-group">
          <button><a href="{%url 'update-account'%}">update account</a></button>
          <button><a  href="{%url 'post' %} ">My POST</a></button>
          <button><a  href="{%url 'create-post'%} ">Create New Post</a></button>
        </div>
      </div>

     </div>

        
    </div>

    <style>
      .btn-group button {
        background-color: #050505; /* Green background */
        border: 1px solid rgb(236, 255, 236); /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
      }
      
      /* Clear floats (clearfix hack) */
      .btn-group:after {
        content: "";
        clear: both;
        display: table;
      }
      
      .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
      }
      
      /* Add a background color on hover */
      .btn-group button:hover {
        background-color: #daecdb;
      }
    </style>
{% endblock  %}

